  .headerSection {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid lightgray !important;
  }
  .headerTitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  .headerSubTitle {
    font-family: "Times New Roman", Times, serif;
  }
  .SwiperContainer{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .swiperTitle{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .filter{
    text-align: center;
    height:130px;
    width: 130px;
    background-color: #f1acac !important;
    border-radius: 50%; 
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .filter:hover{
    background-color: #f17878 !important;
  }
  .filterTitle{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
  }
  .listContainer{
    flex: 1;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .listSection{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .listSectionTitle{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .categoryCard {
    flex:1;
    height: 400px;
    margin-top:10px;
    margin-bottom:10px;
    border: solid lightgray !important;
    border-radius: 20px;
    border-width: 1px !important;
  }
  .categoryCard:hover{
    background-color: #f17878 !important;
    border: solid #f17878 !important;
    border-width: 0.5px !important;
  }
  .categoryImageContainer{
    height: 50%;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .categoryImage {
    height: 100%;
    width: 100%;
    background-color: #f1acac !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .categoryCardInfo{
    flex:1;
    text-align: center;
    padding-top: 20px;
    height: 50%;
    background-color: #f1acac !important;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .categoryTitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
  }
  .categorySubTitle{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
  }
  .spinnerStyle{
    flex:1;
    text-align: center;
    padding-top: 100px;
  }
  .youtuberSection{
    text-align: center;
    padding-top: 50px;
  }